<div class="link_to_question_page_container">
  <div class="question-stats">
    <div><strong><a class="question-title" href="questions/<%=question.id%>"><%=question.title%></a></strong></h2></div>

    <span class="vote-count"><%=question.vote_count%> Votes</span>
    <span class="stat-items">|</span>
    <span class="answer-count"><%=question.answers.count%> Answers</span>
  </div>
  <div class= "tags-list"><b>Tags:</b></div>
  <%question.tags.each do |tag| %>
    <%= render partial:'tags/link', layout:false, locals: {tag: tag} %>
  <%end%>
  <p><span>Question Posted by: <%=question.user.username%>, <%= time_since_created(question)%></span></p>
  <p><span class="time-update">Last Updated <%= time_since_updated(question)%></span></p>
</div>
