<div class="link_to_question_page_container">
  <span><%=question.vote_count%> Votes</span> |
  <span><%=question.answers.count%> Answers</span>
  <h2><a href="questions/<%=question.id%>"><%=question.title%></a></h2>
  <span><b>Tags:</b></span>
  <%question.tags.each do |tag| %>
    <span><%=tag.description%> </span>
  <%end%>
  <p><span>Question Posted by: <%=question.user.username%>, <%= time_since_created(question)%></span></p>
  <p><span>Last Updated <%= time_since_updated(question)%></span></p>
</div>
