

  <div class="content-card">
    <div class="vote-buttons">
      <!-- UPVOTE FORM -->
      <% if logged_in? && already_voted?(current_user, @question) %>
      <span class="voter">
        <%= form_for Vote.new do |f| %>
        <%= render partial: 'votes/create', layout: false, locals: {f: f, remark: @question, value: 1 } %>
        <%= f.submit :type => :image, :src => "/imgs/thumbsup.png" %>
        <% end %>
      </span>
      <% end %>

      <!-- QUESTION VOTE TOTAL -->

      <span><%= @question.vote_count %></span>


      <!-- DOWNVOTE FORM -->
      <% if logged_in? && already_voted?(current_user, @question)%>
      <span class="voter">
        <%= form_for Vote.new do |f| %>
        <%= render partial: 'votes/create', layout: false, locals: {f: f, remark: @question, value: -1 } %>
        <%= f.submit :type => :image, :src => "/imgs/thumbsdown.png" %>
        <% end %>
      </span>
      <% end %>
    </div>


    <!-- REST OF THE QUESTION -->
    <div class="question-title">
     <%= @question.title %>
   </div>
   <div id="question-body">
    <%= @question.body %>
  </div>
  <% if current_user.id == @question.user_id %>
    <div class="question-edit-button"><button name="button" type="submit">Edit</button></div>
    <div class="question-delete-button"><button name="button" type="submit">Delete</button></div>
  <% end %>

<div class="show-body-inner">

    <p class="question-author"><span>Question Posted by: <%=@question.user.username%>, <%= time_since_created(@question)%></span></p>
    <p><span>Last Updated <%= time_since_updated(@question)%></span></p>


    <span class="tags-list"><b>Tags: </b></span>

    <% @question.tags.each do |tag|%>
    <%= render partial:'tags/link', layout:false, locals: {tag: tag} %>
    <%end%>

    <%= render partial: 'comments/show', layout: false, locals: {remark: @question} %>
</div>
</div>
  <div class="content-card">
    <%@question.answers.each do |answer| %>

    <%= render partial:'answers/show', layout: false, locals: {answer: answer} %>
    <% end %>

    <div class="answer-input">
    <% if logged_in? %> <!-- nn logged_in method to show -->
    <%= render "answers/new"%>
    <% else %>
    </div>
    <p> You must <%= link_to "sign in", login_path %> to Tell Them So</p>
    <% end %>
  </div>


