<p>Comments:</p>
<ul class="answer-list">
  <%remark.comments.each do |comment| %>
  <li><h6><%=comment.note %></h6></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= form_for Comment.new do |f| %>
    <%= f.text_field :note %>
    <%=f.hidden_field :commentable_type, :value => remark.class.name %>
    <%=f.hidden_field :commentable_id, :value => remark.id %>
  <%= f.submit %>
  <% end %>
<% else %>
  <p>You must <%= link_to "sign in", login_path %> to leave a comment.</p>
<% end %>
