<div class="comment-container">
  <span class="comment-stats">
    <h5><span>Answer Posted by: <%=answer.user.username%>, <%= time_since_created(answer)%></span></h5>
  </span>

  <span class="comment-vote-buttons">
    <% if logged_in? && already_voted?(current_user, answer)%>
    <!-- UPVOTE FORM -->
    <span class="voter">
      <%= form_for Vote.new do |f| %>
      <%= render partial: 'votes/create', layout: false, locals: {f: f, remark: answer, value: 1 } %>
      <%= f.submit :type => :image, :src => "/imgs/thumbsup.png" %>
      <% end %>
    </span>
    <% end %>

    <!-- ANSWER VOTE TOTAL -->
    <span><%= answer.vote_count %></span>

    <!-- DOWNVOTE FORM -->
    <% if logged_in? && already_voted?(current_user, answer)%>
    <span class="voter">
      <%= form_for Vote.new do |f| %>
      <%= render partial: 'votes/create', layout: false, locals: {f: f, remark: answer, value: -1 } %>
      <%= f.submit :type => :image, :src => "/imgs/thumbsdown.png" %>
      <% end %>
    </span>
    <% end %>
  </span>

  <span class="comment-show-answer">
    <p class="show-answer"><%=answer.content%></p>
    <%= render partial: 'comments/show', layout: false, locals: {remark: answer} %>
  </span>
</div>
