<!DOCTYPE html>
<html>
<head>
  <title>StackToldYouSo</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
     <a href="/"> <img class="header-logo" src="/imgs/stys_logo.png"></a>
      <% if logged_in? %>
        <span class="header-item"> Welcome, <%= current_user.username %> </span>
        <span class="header-item"><%= link_to 'Post a Question', new_question_path %></span>
        <span class="header-item">|</span>
        <span class="header-item"> <%= link_to "Log Out", logout_path %></span>
      <% else %>
        <span class="header-item"><%= link_to "Sign Up", register_path %> </span>
        <span class="header-item">|</span>
        <span class="header-item"> <%= link_to "Log In", login_path %></span>
      <% end %>
    </div>
    <div>
      <%= form_tag questions_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>
    </div>
  <header>
<%= yield %>

</body>
</html>
